body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #2c3e50;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

body.loaded {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%);
}

.quote-container {
    max-width: 800px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
}

#sanskrit-quote {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 2rem;
    line-height: 1.6;
    margin: 0 0 20px 0;
    color: #2c3e50;
}

#english-quote {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 0 20px 0;
    color: #34495e;
}

cite {
    font-style: normal;
    font-weight: bold;
    color: #7f8c8d;
}

.clock {
    position: fixed;
    top: 50px;
    left: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: #2c3e50;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 230px;
    max-width:230px;
    padding: 10px 20px;
    padding-top: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}